## K Nearest Neighbor model

In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

In [66]:
df = pd.read_csv("Assessment4Data.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  20000 non-null  int64
 1   Income               20000 non-null  int64
 2   Experience           20000 non-null  int64
 3   LoanAmount           19999 non-null  float64
 4   InterestRate         20000 non-null  float64
 5   CreditHistoryLength  20000 non-null  int64
 6   CreditScore          19999 non-null  float64
 7   LoanApprovalStatus   20000 non-null  object
dtypes: float64(3), int64(4), object(1)
memory usage: 1.2+ MB

,Age,Income,Experience,LoanAmount,InterestRate,CreditHistoryLength,CreditScore,LoanApprovalStatus
0,24,80145,1,25000.0,9.91,2,636.0,Yes
1,22,80303,0,25000.0,13.06,3,554.0,Yes
2,22,241048,0,9000.0,6.17,4,587.0,No
3,144,241424,121,6000.0,11.86,2,807.0,No
4,25,241005,4,18000.0,16.32,3,708.0,No

In [72]:
df = df.dropna()
df = df[(df["Age"] > 17) & (df["Age"] < 100)]

In [74]:
X = df.loc[:, df.columns != "LoanApprovalStatus"].values
y = df["LoanApprovalStatus"].values

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=250050)

In [78]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Accuracy del modelo:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))

Accuracy del modelo: 0.8165

Classification Report:

              precision    recall  f1-score   support

          No       0.85      0.92      0.89      3105
         Yes       0.63      0.45      0.52       895

    accuracy                           0.82      4000
   macro avg       0.74      0.68      0.70      4000
weighted avg       0.80      0.82      0.80      4000

## SVM Model

In [80]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score, classification_report

In [82]:
df = pd.read_csv("Assessment4Data.csv")
df = df.dropna()
df = df[(df["Age"] > 17) & (df["Age"] < 100)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19997 entries, 0 to 19999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  19997 non-null  int64
 1   Income               19997 non-null  int64
 2   Experience           19997 non-null  int64
 3   LoanAmount           19997 non-null  float64
 4   InterestRate         19997 non-null  float64
 5   CreditHistoryLength  19997 non-null  int64
 6   CreditScore          19997 non-null  float64
 7   LoanApprovalStatus   19997 non-null  object
dtypes: float64(3), int64(4), object(1)
memory usage: 1.4+ MB

In [84]:
X = df.loc[:, df.columns != "LoanApprovalStatus"].values
y = df["LoanApprovalStatus"].values

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=250050)

In [ ]:
clf_linear = svm.SVC(kernel='linear', C=1)
clf_linear.fit(X_train, y_train)

print("Accuracy del modelo (SVM linear):", accuracy_score(y_test, y_pred_linear))
print("\nClassification Report (SVM linear):\n")
print(classification_report(y_test, y_pred_linear))

### Logistic Regression

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
df = pd.read_csv("Assessment4Data.csv")
df = df.dropna()
df = df[(df["Age"] > 17) & (df["Age"] < 100)]

In [ ]:
X = df.loc[:, df.columns != "LoanApprovalStatus"].values
y = df["LoanApprovalStatus"].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=250050)

In [ ]:
logit = LogisticRegression()
logit.fit(X_train, y_train)
y_pred = logit.predict(X_test)
recall = metrics.recall_score(y_test, y_pred, pos_label='Yes')
f1 = metrics.f1_score(y_test, y_pred, pos_label='Yes')

print("Recall:", recall)
print("F1-score:", f1)